---
version: "3.8"
services:
  caddy:
    image: caddy:2-alpine
    container_name: caddy
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
    volumes:
      - caddy_data:/data
      - caddy_config:/config
      - caddy_caddyfile:/etc/caddy/Caddyfile:ro
    networks:
      - nextcloud-net
  nextcloud-aio-mastercontainer:
    image: nextcloud/all-in-one:latest
    container_name: nextcloud-aio-mastercontainer
    restart: always
    depends_on:
      - caddy
    environment:
      - NEXTCLOUD_TRUSTED_DOMAINS=nextcloud.yourdomain.com
      - NEXTCLOUD_DATADIR=/mnt/ncdata
      - APACHE_PORT=11000
      - NEXTCLOUD_UPLOAD_LIMIT=10G
    volumes:
      - nextcloud_aio_mastercontainer:/mnt/docker-aio-config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - nextcloud-net
volumes:
  nextcloud_aio_mastercontainer: null
  caddy_data: null
  caddy_config: null
  caddy_caddyfile: null
networks:
  nextcloud-net: null
