---
services:
  caddy:
    image: caddy:2-alpine
    container_name: caddy
    restart: unless-stopped
    ports:
      # - 8080:8080
      - 443:443
    volumes:
      - caddy_data:/data
      - caddy_config:/config
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
    network_mode: "host"
  nextcloud-aio-mastercontainer:
    image: nextcloud/all-in-one:latest
    container_name: nextcloud-aio-mastercontainer
    restart: always
    depends_on:
      - caddy
    environment:
      - NEXTCLOUD_TRUSTED_DOMAINS=nextcloud.zdune.net
      - NEXTCLOUD_DATADIR=/mnt/ncdata
      - APACHE_PORT=11000
     #- APACHE_IP_BINDING=0.0.0.0
      - NEXTCLOUD_UPLOAD_LIMIT=10G
      - SKIP_DOMAIN_VALIDATION=true
    volumes:
      - nextcloud_aio_mastercontainer:/mnt/docker-aio-config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    network_mode: bridge    
    ports:
      - 8080:8080
volumes:
  nextcloud_aio_mastercontainer:
    name: nextcloud_aio_mastercontainer
  caddy_data: 
  caddy_config: 
